body{
  margin: 5px 5px;
}
 
.flagbox{
  padding-left: 5px;
}

table{
  border: 3px solid black;
height: 500px;
width: 800px;
}


#red{
  background-color: red;
  
}

#white{
  background-color: whitesmoke;

}

.stars{
  position: fixed;
  top: 10px;
  left: 15px;
}


@media screen and (max-width: 390px) { 
  /* Styles for mobile devices */
  table{
    width: 98%;
    height: 220px;
    padding-left: 0;
  }
  img {
    height: 112px;
    width: 135px;
  }
}
@media screen and (min-width: 391px) and (max-width:1023px){
  /*style for mobile*/
  table {
    width: 98%;
    height: 450px;
    padding-left: 0;
  }

  img {
    height: 236px;
    width: 220px ;
  }
}

@media screen and (min-width: 1024px) {
  /* Styles for desktop devices */
   table {
    width: 85%;
    height: 850px;
  }

  img {
    height: 451px;
    width: 520px ;
  }
} 